.nc-loop-dots-4-16-icon-f {
  --animation-duration: 0.8s;
}

.nc-loop-dots-4-16-icon-f * {
  opacity: 0.4;
  transform: scale(0.75);
  animation: nc-loop-dots-4-anim var(--animation-duration) infinite;
}

.nc-loop-dots-4-16-icon-f :nth-child(1) {
  transform-origin: 3px 8px;
  animation-delay: -0.3s;
  animation-delay: calc(var(--animation-duration) / -2.666);
}

.nc-loop-dots-4-16-icon-f :nth-child(2) {
  transform-origin: 8px 8px;
  animation-delay: -0.15s;
  animation-delay: calc(var(--animation-duration) / -5.333);
}

.nc-loop-dots-4-16-icon-f :nth-child(3) {
  transform-origin: 13px 8px;
}

@keyframes nc-loop-dots-4-anim {
  0%,
  100% {
    opacity: 0.4;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
